body {
    background-color: #333;
    color: whitesmoke;

   
}
header {
    text-align:  center;
}

h1 {
    text-shadow: 2px 1px violet;
}





/* reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.padding-2 {padding: 2rem;}
.grid {display: grid;}