body {
    background-color: #333;
    color: whitesmoke;
    overflow-y: hidden;
   

   
}
header {
    height: 3rem;
}

h1 {
    text-shadow: 2px 1px violet;
}
p {
    font-size: 1.5rem;
}
main {
    height: 80vh;
   

}
/* Button  */
button {
    border-radius:2rem;
    padding: 0.5rem 2rem;
    border-style: none;
    
}

button:hover {
    box-shadow: 2px 2px black;
}
button:active{
  background-color: grey;
  color: whitesmoke;
  font-weight: 600;
}

span {
    padding: 1rem 0;
    animation: 3s colorChange infinite ease-in;
}
@keyframes colorChange {
    0% {color:whitesmoke;}
    25% {color: violet;}
    50% {color: turquoise;}
    75% {color: pink;}
    100% {color: greenyellow;}
}

footer p {
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    height: 2rem
}

/* reusable classes */
.flex {display: flex;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.column {flex-direction: column;}


